.DS_Store 

*.xcuserstate

Reactor.xcodeproj/project.xcworkspace/xcuserdata/guyb.xcuserdatad/UserInterfaceState.xcuserstate

.htpasswd

.htaccess

*.pbxproj

*.xccheckout

*.xcuserstate

*.pbxproj

Reactor.xcodeproj/project.xcworkspace/xcuserdata/guyb.xcuserdatad/UserInterfaceState.xcuserstate
